@{
    Layout = "_Layout";
}

@model IEnumerable<PrizeModel>
@{
    ViewData["Title"] = "Hədiyyələr";
}

<h2>
    Oyunda olan hədiyyələr
</h2>

<div class="d-flex mb-3">
    <div class="p-2">
        <a type="button" class="btn btn-primary" asp-controller="Prize" asp-action="Create">Yeni hədiyyə  əlavə et</a>
    </div>
</div>

@if (Model.Any())
{
    <div class="row m-3">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Hədiyyələr</th>
                    <th>Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Text</td>
                            <td>
                                <a type="button" class="btn btn-link" asp-controller="Prize" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
}